// グレーの背景色の指定 //
$backgroundColorGray: #f2f2f2;
// ダークグレーの背景色の指定　//
$backgroundColorDarkgray: #4e4e4e;
// コンバージョンカラーの指定 //
$conversionColor: #74cfae;
// テキストカラーの指定 //
$textColor: #333;
// 横幅が100%の指定 //
$basicWidth: 100%;
// maxwidthの指定 //
$maxWidth: 1200px;
